# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# makefile targets:
io-1
io-2
mutex-1
mutex-2
notes.html
terminate-c++03
terminate-c++11

